$position: absolute;
$max-width: 30px;
$max-height: 30px;
$min-width: 30px;
$min-height: 30px;
$border-radius: 5px;
$top: 80px;
$color:#fff;
$background-color: rgb(10, 57, 73);


.close-chat {
    position: $position;
    max-width: $max-width;
    max-height: $max-height;
    min-width: $min-width;
    $min-height: $min-height;
    border-radius: $border-radius;
    color: $color;
    left: 5px;
    &:hover {
        background-color: $background-color;
    }
}

.open-chat {
    position: $position;
    max-width: $max-width;
    max-height: $max-height;
    min-width: $min-width;
    $min-height: $min-height;
    border-radius: $border-radius;
    color: $color;
    top: $top;
    right: 10px;
    transform: scaleX(-1);
    &:hover {
        background-color: $background-color;
    }
}

.close-userlist {
    position: $position;
    max-width: $max-width;
    max-height: $max-height;
    min-width: $min-width;
    $min-height: $min-height;
    border-radius: $border-radius;
    color: $color;
    right: 5px;
    transform: scaleX(-1);
    &:hover {
        background-color: $background-color;
    }
}

.open-userlist {
    position: $position;
    max-width: $max-width;
    max-height: $max-height;
    min-width: $min-width;
    $min-height: $min-height;
    border-radius: $border-radius;
    color: $color;
    top: $top;
    left: 10px;
    &:hover {
        background-color: $background-color;
    }
}

@media only screen and (max-width: 900px) {
    .open-chat{
        display: none;
    }
}

@media only screen and (max-width: 1026px) {
    .open-userlist{
        display: none;
    }
}