.video-room {
    position:fixed;
    padding:0;
    margin:0;

    top:0;
    left:0;

    width: 100%;
    height: 100%;
    background-color: #7ed6df;
    background-image: linear-gradient(95deg, #7ed6df 0%, #000000 74%);

    .video-room-content {
        height: 80vh;
        width: 100%;
        display: flex;
        flex-flow: row wrap;
    }
}

.video-nav-bar {
    margin-bottom: 5vh;
    display: flex;

    .video-nav-bar-button {
        background-color: #0C4152;
        &:hover {
            background-color: #1781A5;
        }
        position: absolute;
        right: 25px;
    }

    .video-nav-bar-title {
        flex: 1 0 auto;
        text-align:center;
        font-size: 26px;
        color: #DEB992
    }

    .video-menu {
        background-color: #000;
    }

}