/*
This is the CSS file for styling the layout of the front end, separate from the
styling for individual Material UI components.
*/

/* ---------- Color Scheme ---------- */
.MuiOutlinedInput-root.Mui-focused .MuiOutlinedInput-notchedOutline {
  border-color: #D5D5D5;
}

.MuiFormLabel-root.Mui-focused {
  color:#D5D5D5;
}

/*Button Background*/
.MuiButton-containedPrimary {
  background-color: #1BA098;
}

/*Button Hover Background*/
.MuiButton-containedPrimary:hover {
  background-color: #1781A5;
}

/*AppBar Background*/
.MuiAppBar-colorPrimary {
  background-color: #051622;
}

.MuiSlider-root {
  color: #FFFFFF;
}

.background {
  position:fixed;
  padding:0;
  margin:0;

  top:0;
  left:0;

  width: 100%;
  height: 100%;
  background: linear-gradient(0.25turn,#051622, #1BA098, #051622);
}