/*
This is the CSS file for styling the layout of the front end, separate from the
styling for individual Material UI components.
*/

.hidden {
  display: none;
}

/* ---------- Color Scheme ---------- */

.MuiOutlinedInput-root .MuiOutlinedInput-notchedOutline {
  border-color: #D5D5D5;
}

:hover .MuiOutlinedInput-root .MuiOutlinedInput-notchedOutline{
  border-color: #ffffff;
}

.MuiOutlinedInput-root.Mui-focused .MuiOutlinedInput-notchedOutline {
  border-color: #D5D5D5;
}

/* Text Color within the Text Box */
.MuiOutlinedInput-input {
  color: #ffffff;
}

.MuiInputLabel-outlined {
  color:#D5D5D5;
}

.MuiFormLabel-root.Mui-focused {
  color:#D5D5D5;
}

.MuiIconButton-coloInherit {
  background-color: #1BA098;
}

/*Button Background*/
.MuiButton-containedPrimary {
  background-color: #1BA098;
}

/*Button Hover Background*/
.MuiButton-containedPrimary:hover {
  background-color: #7ed6df;
}

/*AppBar Background*/
.MuiAppBar-colorPrimary {
  background-color: #7ed6df;
  background-image: linear-gradient(35deg, #7ed6df 0%, #000000 74%);
}

.MuiAppBar-root {
  background: transparent;
  box-shadow: none;
}

.MuiDialogContent-root {
  background-color: #000000;
}

.MuiDialogTitle-root {
  background-color: #000000;
  color: #ffffff;
}

.MuiDrawer-paper {
  width: 15%;
  justify-content: center;
  background-color: #0d0a0b;
  color: #ffffff;
}

.MuiListItemIcon-root {
  color: #ffffff;
}

.MuiButtonBase-root.MuiIconButton-root.MuiIconButton-sizeSmall {
  color: #fff
}

.MuiSlider-root {
  color: #ffffff;
}

[class|='PrivateValueLabel-label'] {
  color: #000000;
}

.MuiTypography-root.MuiTypography-h6 {
  font-family: 'Open Sans', sans-serif;
}

.MuiTypography-root.MuiListItemText-primary.MuiTypography-body1.MuiTypography-displayBlock {
  font-family: 'Open Sans', sans-serif;
}

.MuiInputBase-input.MuiOutlinedInput-input.Mui-disabled.Mui-disabled {
  color: rgba(0, 0, 0, 0.87);
}