/*
This is the CSS file for styling the layout of the front end, separate from the
styling for individual Material UI components.
*/

#login {
  margin-top: 20vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
}

#login form {
  margin-top: 8vh;
  width: 80%;
}

#login .button {
  margin-top: 2vh;
}

#join-create-room form {
  width: 100%;
  margin-bottom: 3vh;
}

#room-list p {
  margin-top: 0vh;
  margin-bottom: 0vh;
}

#video-room-content {
  height: 80vh;
  width: 100%;
  display: flex;
  flex-flow: row wrap;
  justify-content: space-evenly;
}

#edit-user-modal .button {
  margin-top: 3vh;
}

#user-list {
  height: 50vh;
  width: 200px;
  margin-bottom: 3%;
  border: 1px solid #E0E0E0;
  border-radius: 10px;
  box-shadow: 0 1px 3px rgba(0,0,0,0.12), 0 1px 2px rgba(0,0,0,0.24);
  display: block;
  flex: none;
  overflow-x: scroll;
}

#user-list > .header {
  height: 30px;
  padding-left: 12px;
  background: #E3E3E3;
  border-bottom: 1px solid #E0E0E0;
  display: flex;
  align-items: flex-end;
}

#user-list > .content {
  height: 90%;
  background: #F9F9F9;
  overflow-y: scroll;
}

.user-name span {
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}

.nav-bar {
  margin-bottom: 5vh;
}