.video-player {
    max-width: 75%;
    margin: 0 auto;
    padding-left: 2%;
    padding-right: 2%;
    flex-grow: 1;
    text-align: center;

    .player-wrapper {
        position: relative;
        padding-top: 56.25%; /* 16:9 aspect ratio */

        .react-player {
            position: absolute;
            top: 0;
            left: 0%;
            padding-top: .5625%;
            padding-bottom: .5625%;
            padding-left: 1%;
            padding-right: 1%;
        }
    }
}

.video-player-controls {
    display: flex;
    align-items: center;
    padding-right: 10px;

    .play-button {
        display: flex;
        margin-left: 10px;
        margin-right: 12px;
        max-width: 30px;
        max-height: 30px;
        min-width: 30px;
        min-height: 30px;
    }

    .video-controller {
        display: flex;
        margin-right: 50;
    }

    .volume-controller {
        display: flex;
        max-width: 50px;
    }

    .fullscreen {
        display: flex;
        max-width: 30px;
        max-height: 30px;
        min-width: 30px;
        min-height: 30px;
        color: #ffffff;
    }
}

.search-bar-url {
    width: 70%;
    margin-left: auto;
    margin-right: auto;

    .search-bar {
        height: 40px;
    }
}

.video-player-buttons {
    display: flex;
    margin-left: 10px;
    margin-right: 10px;
    color: #ffffff;
}

.MuiIconButton-label {
    color: #ffffff
}

.MuiSvgIcon-root.MuiSvgIcon-colorAction {
    color: #ffffff
}
