.nav-bar {
    margin-bottom: 5vh;
    display: flex;

    .nav-bar-button {
        font-family: 'Open Sans', sans-serif;
        background-color: #0C4152;
        &:hover {
            background-color: #1781A5;
        }
    }

    .nav-bar-title {
        flex: 1 0 auto;
        text-align: center;
        font-size: 40px;
        color: #FFF;
    }

}