.room-list-title {
    margin-top: 0vh;
    margin-bottom: 0vh;
    color: #DEB992;
    font-size: 20px;
}

.room-list-item {
    color: #DEB992
}

.create-room-input-form {
    width: 100%;
    margin-bottom: 3vh;
}

