.join-create-room {
    position:fixed;
    padding:0;
    margin:0;

    top:0;
    left:0;

    width: 100%;
    height: 100%;
    background-color: #7ed6df;
    background-image: linear-gradient(95deg, #7ed6df 0%, #000000 74%);
}

.room-list-title {
    margin-top: 0vh;
    margin-bottom: 0vh;
    color: #DEB992;
    font-size: 20px;
}

.room-list-item {
    color: #DEB992
}

.create-room-input-form {
    width: 100%;
    margin-bottom: 3vh;
}

