.playlist-button {
    background-color: #1781A5;
    &:hover {
        background-color: #1DA2CE;
    }
    color: #FFF;
}

.playlist-header > * {
    background-color: #0C4152 !important;
    text-align: center;
}

.playlist-content {
    color: #FFF;
    background-color: #040505;
}