.playlist-button {
    margin-top: inherit;
    margin-top: 7px !important;
    //padding-bottom: 20px;
}

.playlist-header > * {
    font-family: 'Open Sans', sans-serif;
    background-color: #0C4152 !important;
    text-align: center;
}

.playlist-content {
    top: 5px;
    font-family: 'Open Sans', sans-serif;
    color: #FFF;
    background-color: #242427;
}