.user-list {
    height: 100%;
    width: 15%;
    margin-left: 0px;
    box-shadow: 0 1px 3px rgba(0,0,0,0.12), 0 1px 2px rgba(0,0,0,0.24);
    display: flex;
    flex-direction: column;

    .user-list-header {
        font-family: 'Open Sans', sans-serif;
        height: 35px;
        color:#fff;
        background-color: #015c66;
        /*background-image: linear-gradient(0.75turn, #000000, #18252b, #000000);*/
        display: flex;
        align-items: center;
        justify-content: center;
    }

    .user-list-content {
        height: calc(100% - 35px);
        color:#fff;
        background-color: #242427;
        /*background-image: linear-gradient(0.75turn, #000000, #18252b, #000000);*/
        overflow-y: auto;
    }
}

.user {
    .user-name span {
        font-family: 'Open Sans', sans-serif;
        overflow: hidden;
        text-overflow: ellipsis;
        white-space: nowrap;
    }
}

.edit-user-modal {
    .edit-user-button {
        font-family: 'Open Sans', sans-serif;
        margin-top: 3vh;
    }
}

@media only screen and (max-width: 1026px) {
    .user-list {
        display: none;
    }
}
